<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale = 1.0" />
  <title>Code, Beer, and Legos</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/article.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
  <article>
    <header class="main">
      <a href="/"><h1><i class="fa fa-bomb"></i>Agent<span class="o3">O3</span></h1></a>
    </header>
    {{content}}
    <footer class="main">
      <a href="https://about.me/agento3" target="_blank">
        <img src="https://pbs.twimg.com/profile_images/451449366390124544/SE-QoWqj_400x400.jpeg" alt="" />
      </a>
      <a href="https://www.linkedin.com/in/owenzanzal/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="https://github.com/AgentO3" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a href="http://instagram.com/agento3" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://twitter.com/AgentO3" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="http://www.piedpiper.com/#hello" target="_blank">
        <i class="fa fa-pied-piper"></i>
      </a>
      <a href="https://plus.google.com/u/0/105612377407125195100/posts" target="_blank">
        <i class="fa fa-google-plus-square"></i>
      </a>
      <a href="https://soundcloud.com/owen-zanzal" target="_blank">
        <i class="fa fa-soundcloud"></i>
      </a>
      <a href="https://www.brewtoad.com/users/40334" target="_blank">
        <i class="fa fa-beer"></i>
      </a>
      <a href="mailto:owen@agento3.me">
        <i class="fa fa-envelope"></i>
      </a>
      <br>
      ©<date>{{site.time | date: '%Y'}}</date>
    </footer>
  </article>
</body>
</html>
